# SEA Petrochemical Industry

Here, we analyze debt financing in the petrochemical industry in Southeast Asia, based on data pulled from LSEG Refinitiv.

In [1]:
# import libraries
import pandas as pd
import os

In [2]:
# read files

# loans
loans_df = pd.read_excel("wf_data.xlsx", sheet_name="loans_list")
loans_fin_df = pd.read_excel("wf_data.xlsx", sheet_name="loans_banks")

# bonds
bonds_df = pd.read_excel("wf_data.xlsx", sheet_name="bonds_list")
bonds_fin_df = pd.read_excel("wf_data.xlsx", sheet_name="bonds_banks")

# equities
equities_df = pd.read_excel("wf_data.xlsx", sheet_name="eq_list")
equities_fin_df = pd.read_excel("wf_data.xlsx", sheet_name="eq_banks")

In [3]:
# setting up directories for saved files

os.makedirs("bonds_data", exist_ok=True)
os.makedirs("equities_data", exist_ok=True)
os.makedirs("loans_data", exist_ok=True)

### Getting totals

In [4]:
loans_total = loans_df["total_amount"].sum()
loans_total

np.float64(5657.6385236)

In [5]:
bonds_total = bonds_df["proceeds_amt"].sum()
bonds_total

np.float64(7060.021436535796)

In [6]:
equities_total = equities_df["proceeds_amt"].sum()
equities_total

np.float64(2261.73959870141)

In [7]:
debtfin_totals = loans_total + bonds_total + equities_total
debtfin_totals

np.float64(14979.399558837205)

## Total transactions

In [8]:
# automates breakdown of projects

def proj_summary(
    df,
    deal_id_col="deal_id", 
    borrower_col="borrower_name", 
    country_col="borrower_country",
    total_cost_col="total_cost", 
    ):
    """
    This function sums the total amounts per borrower per country.
    
    Parameters:
    df (pandas.DataFrame): DataFrame containing project information
    deal_col (str): column name for deal ID
    borrower_col (str): column name for name of borrower
    country_col (str): column name for country of borrower
    total_cost_col (str): column name for total cost
    """

    # counts unique project identifiers
    # to get the total number of projects
    total_transactions = df[deal_id_col].nunique()
    print(f"Total number of transactions: {total_transactions}")
    
    # counts projects and sums costs by country
    per_country_analysis = df.groupby([country_col, borrower_col]).agg(
        borrower = (borrower_col, "count"),  # count projects
        total_amount = (total_cost_col, "sum")  # sum of total cost
    ).sort_values(by="total_amount", ascending=False)

    print(f"Total amount: {per_country_analysis['total_amount'].sum():.2f}")

    return per_country_analysis

### Bonds

In [9]:
bonds_result_df = proj_summary(bonds_df,
                               deal_id_col="bonds_deal_identifier", 
                               borrower_col="issuer_borrower_parent", 
                               country_col="issuer_borrower_parent_country",
                               total_cost_col="proceeds_amt"
                              )
bonds_result_df

Total number of transactions: 37
Total amount: 7060.02

                                                        borrower  total_amount
issuer_borrower_parent_country issuer_borrower_parent
Thailand                       PTT Global Chemical PCL         8   3361.063283
                               TPI Polene PCL                 14   2518.531570
                               Energy Absolute PCL             6    744.081785
Indonesia                      Barito Pacific TBK PT           8    400.774488
Malaysia                       Hanwha Group                    1     35.570311

In [10]:
bonds_result_df.to_csv("bonds_data/bonds_count.csv", encoding="UTF-8")

In [11]:
bonds_result_df["total_amount"].sum()

np.float64(7060.021436535794)

In [12]:
# security types
bonds_df["security_type"].value_counts()

security_type
Senior Medium Term Notes    11
Senior Bonds                 9
Senior Unsecured Notes       9
Fixed Or Straight Bond       3
Debentures                   3
Medium Term Notes            1
Bonds                        1
Name: count, dtype: int64

### Equities

In [13]:
equities_result_df = proj_summary(equities_df,
                               deal_id_col="equities_deal_identifier", 
                               borrower_col="issuer_borrower_parent", 
                               country_col="issuer_borrower_parent_country",
                               total_cost_col="proceeds_amt"
                              )
equities_result_df

Total number of transactions: 17
Total amount: 2261.74

                                                                      borrower  \
issuer_borrower_parent_country issuer_borrower_parent
Thailand                       Energy Absolute PCL                           1
Indonesia                      Barito Pacific TBK PT                         2
Philippines                    JG Summit Holdings Inc                        1
Malaysia                       Petroliam Nasional Bhd                        1
Vietnam                        PetroVietnam Chemical & Services Corp         2
                               Son Ha International Corp                     3
Malaysia                       Daya Materials Bhd                            4
                               Propel Global Bhd                             2
Thailand                       Siam Cement Group                             1

                                                                      total_amount
issuer_borrower_parent_country issuer_borrower_parent
Thailand                       Energy Absolute PCL                     1016.283114
Indonesia                      Barito Pacific TBK PT                    834.426633
Philippines                    JG Summit Holdings Inc                   250.950545
Malaysia                       Petroliam Nasional Bhd                    66.119151
Vietnam                        PetroVietnam Chemical & Services Corp     34.323144
                               Son Ha International Corp                 32.199866
Malaysia                       Daya Materials Bhd                        23.463539
                               Propel Global Bhd                          3.973606
Thailand                       Siam Cement Group                          0.000000

In [14]:
equities_result_df.to_csv("equities_data/equities_count.csv", encoding="UTF-8")

### Loans

In [15]:
loans_result_df = proj_summary(loans_df,
                               deal_id_col="loans_deal_identifier", 
                               borrower_col="issuer_borrower_parent", 
                               country_col="issuer_borrower_parent_country",
                               total_cost_col="total_amount"
                              )
loans_result_df

Total number of transactions: 12
Total amount: 5657.64

,,borrower,total_amount
issuer_borrower_parent_country,issuer_borrower_parent,,
Brunei,Hengyi Industries Sdn Bhd,6,3820.720000
Malaysia | Saudi Arabia,Petroliam Nasional Berhad (PETRONAS) | Saudi Aramco,4,960.977631
Indonesia,Surya Esa Perkasa Tbk PT,1,495.000000
Thailand,PTT PCL,2,380.940893

In [16]:
loans_result_df.to_csv("loans_data/loans_count.csv", encoding="UTF-8")

### Underwritings

In [17]:
def count_banks(
    df,
    deal_id_col="deal_id", 
    borrower_col="borrower_name", 
    bank_col="bank_name",
    country_col="bank_country",
    ):
    """
    This function sums the total amounts per borrower per country.
    
    Parameters:
    df (pandas.DataFrame): DataFrame containing project information
    deal_id_col (str): column name for deal ID
    borrower_col (str): column name for name of borrower
    bank_col (str): column name for name of bank
    country_col (str): column name for country of bank
    """

    # counts unique project identifiers
    # to get the total number of projects
    total_transactions = df[deal_id_col].nunique()
    print(f"Total number of transactions: {total_transactions}")
    # this should be the same as total transactions in `proj_summary`
    
    # counts projects and sums costs by country
    per_country_analysis = df.groupby([country_col, bank_col]).agg(
        number_of_underwritings = (bank_col, "count"),  # count deals
    ).sort_values(by=[country_col, "number_of_underwritings"], ascending=False)

    print(f"Total issuances: {per_country_analysis['number_of_underwritings'].sum()}")

    return per_country_analysis

### Bonds

In [18]:
bonds_banks_df = count_banks(
    bonds_fin_df,
    deal_id_col="bonds_deal_identifier", 
    borrower_col="issuer_borrower", 
    bank_col="book_comanagers_parent",
    country_col="book_comanagers_parent_country",
    )
bonds_banks_df

Total number of transactions: 37
Total issuances: 182

                                                                                number_of_underwritings
book_comanagers_parent_country book_comanagers_parent
United Kingdom                 Standard Chartered                                                     3
Thailand                       Krung Thai Bank                                                       22
                               Kasikornbank                                                          13
                               Siam Commercial Bank                                                  10
                               Asia Plus Group Holdings                                               8
                               Bangkok Bank                                                           7
                               Country Group Holdings                                                 7
                               Aira Capital Ltd                                                       6
                               FNS Holdings                                                           4
                               Kiatnakin Phatra Financial Group                                       4
                               Merchant Partners Securities                                           3
                               Thanachart Capital PCL                                                 3
                               Globlex Holding Management                                             2
                               ASL Securities Co Ltd                                                  1
                               Asia Wealth Securities Co Ltd                                          1
                               Beyond Securities PCL                                                  1
                               Government Savings Bank of Thailand                                    1
                               IV Global Securities PCL                                               1
Taiwan                         Yuanta Financial Holdings                                              8
                               China Development Financial Holding Corporation                        5
South Korea                    DAOL Investment & Securities                                           3
                               KB Financial Group                                                     1
Singapore                      United Overseas Bank (UOB) Group                                       5
                               Phillip Securities                                                     2
Malaysia                       CIMB Group                                                            18
                               Maybank Investment Banking Group                                       8
                               RHB Banking Group                                                      2
Japan                          Mitsubishi UFJ Financial Group Inc                                    11
                               Nomura Holdings                                                        1
Indonesia                      Bank Negara Indonesia                                                  5
                               Dwimuria Investama Andalan PT                                          5
                               PT Sucorinvest Inti Investama                                          3
                               Trimegah Sekuritas Indonesia                                           2
                               Trimegah Securindo Lestari PT                                          1
China                          Capital Securities Co Ltd                                              5

In [19]:
bonds_banks_df.to_csv("bonds_data/bonds_banks.csv", encoding="UTF-8")

### Equities

In [20]:
equities_banks_df = count_banks(
    equities_fin_df,
    deal_id_col="equities_deal_identifier", 
    borrower_col="issuer_borrower", 
    bank_col="book_comanagers_parent",
    country_col="book_comanagers_parent_country",
    )
equities_banks_df

Total number of transactions: 17
Total issuances: 11

                                                                 number_of_underwritings
book_comanagers_parent_country book_comanagers_parent
Switzerland                    UBS Group AG                                            1
Singapore                      United Overseas Bank (UOB) Group                        2
Malaysia                       Hong Leong Group                                        4
                               Maybank Group                                           1
Japan                          Nomura Group                                            1
Hong Kong                      CLSA Ltd                                                1
France                         BNP Paribas                                             1

In [21]:
equities_banks_df.to_csv("equities_data/equities_banks.csv", encoding="UTF-8")

### Loans

In [22]:
loans_banks_df = count_banks(loans_fin_df,
                               deal_id_col="loan_deal_identifier", 
                               borrower_col="issuer_borrower", 
                               bank_col="mandated_arranger",
                               country_col="mandated_arranger_parent_country",
                              )
loans_banks_df

Total number of transactions: 12
Total issuances: 23

                                                                                 number_of_underwritings
mandated_arranger_parent_country mandated_arranger
Japan                            Bank of Ayudhya Plc                                                   1
                                 Mizuho Bank Ltd                                                       1
                                 Sumitomo Mitsui Banking Corp                                          1
Indonesia                        Undisclosed Advisor                                                   1
China                            Bank of China (BOC)                                                   5
                                 Industrial and Commercial Bank of China (ICBC)                        5
                                 China Development Bank                                                3
                                 Export-Import Bank of China                                           2
                                 China Merchants Bank Co., Ltd.                                        1
Brunei                           Baiduri Bank Group                                                    1
                                 Islamic Bank of Brunei                                                1
                                 Perbadanan TAIB                                                       1

In [23]:
loans_fin_df["mandated_arranger"].nunique()

12

In [24]:
loans_banks_df.to_csv("loans_data/loans_banks.csv", encoding="UTF-8")